{% extends "base.html" %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'core/css/auth.css' %}">
<div class="auth-container">
  <div class="auth-card">
    <h2>Sign Up</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-group">
        {{ form.firstname.label_tag }}
        {{ form.firstname }}
      </div>

      <div class="form-group">
        {{ form.lastname.label_tag }}
        {{ form.lastname }}
      </div>

      <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
      </div>

      <div class="form-group">
        {{ form.phonenumber.label_tag }}
        {{ form.phonenumber }}
      </div>

      <div class="form-group">
        {{ form.user_type.label_tag }}
        {{ form.user_type }}
      </div>

      <div class="form-group">
        {{ form.profile_image.label_tag }}
        {{ form.profile_image }}
      </div>

      <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
      </div>

      <div class="form-group">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
      </div>

      <button type="submit" class="btn">Sign Up</button>
    </form>

    <p class="switch-link">
      Already registered? <a href="{% url 'login' %}">Login</a>
    </p>
  </div>
</div>

{% endblock content %} 
       
